<!-- Navigation -->
<div ng-include="'views/common/navigation.html'"></div>

<!-- Page wraper -->
<!-- ng-class with current state name give you the ability to extended customization your view -->
<div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-controller="team_listCtrl">

    <!-- Page wrapper -->
    <div ng-include="'views/common/topnavbar.html'"></div>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Teams</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#/dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Teams</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row col-lg-12">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm">
                                            <i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <div class="col-md-11">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="input-sm form-control">
                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-12">&nbsp;</div>
        <div class="row">
            <div class="col-lg-4" ng-repeat="team in teams">
                <div class="ibox">
                    <div class="ibox-title">
                        <div ng-switch="team.Status">
                            <div ng-switch-when="0">

                                <span class="label label-warning pull-right">Full</span>

                            </div>
                            <div ng-switch-when="1">

                                <span class="label label-primary pull-right">Open</span>

                            </div>
                            <div ng-switch-when="2">
                                <span class="label label-default pull-right">Finalized</span>
                            </div>
                            <div ng-switch-default>
                                <span class="label label-default pull-right">Close</span>
                            </div>
                        </div>

                        <a ui-sref="team_profile({_id:team._id})">
                            <h5>{{team.name}}</h5>
                        </a>
                    </div>
                    <div class="ibox-content">
                        <div class="team-members">
                            <div class="inline" ng-repeat="mate in team.mates">
                                <a ui-sref="user_profile({_id:mate._id})">
                                    <img alt="image" class="img-circle" tooltip-placement="bottom" uib-tooltip="{{mate._id}}" src="{{mate.avatar}}">
                                    <p align="center" tooltip-placement="bottom" uib-tooltip="{{mate.first}} {{mate.last}}">{{mate.first.charAt(0).toUpperCase()}}. {{mate.last.charAt(0).toUpperCase()}}.</p>
                                </a>
                            </div>
                        </div>
                        <div>
                            <p>{{team.slogan}}</p>
                            <span>
                                <strong>Status of this team:</strong>
                            </span>
                            <div class="stat-percent">{{team.status}}%</div>
                            <div class="progress progress-mini">
                                <div ng-style="{width:team.status+'%'}" class="progress-bar progress-bar-warning"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>