<!-- Navigation -->
<div ng-include="'views/common/navigation.html'"></div>

<!-- Page wraper -->
<!-- ng-class with current state name give you the ability to extended customization your view -->
<div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-controller="dashboardCtrl">

    <!-- Page wrapper -->
    <div ng-include="'views/common/topnavbar.html'"></div>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{'DASHBOARD' | translate}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/#/dashboard">{{'HOME' | translate}}</a>
                </li>
                <li class="active">
                    <strong>{{'DASHBOARD' | translate}}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <h4>Discover all users, teams and projects</h4>
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a href="/#/users">
                            <span class="label label-success pull-right">
                                {{'DETAILS' | translate }}
                            </span>
                        </a>
                        <h5>{{'USERS' | translate}}</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">306</h1>

                        <div ng-show="false" class="stat-percent font-bold text-success">new today
                            <i class="fa fa-bolt"></i>
                        </div>
                        <small>Total {{'USERS' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a href="/#/teams">
                            <span class="label label-info pull-right">{{'DETAILS' | translate }}</span>
                        </a>
                        <h5>{{'TEAMS' | translate}}</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">52</h1>

                        <div ng-show="false" class="stat-percent font-bold text-info">new today
                            <i class="fa fa-level-up"></i>
                        </div>
                        <small>Total {{'TEAMS' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a href="/#/projects">
                            <span class="label label-primary pull-right">{{'DETAILS' | translate }}</span>
                        </a>
                        <h5>{{'PROJECTS' | translate}}</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">38</h1>

                        <div ng-show="false" class="stat-percent font-bold text-navy">new today
                            <i class="fa fa-level-up"></i>
                        </div>
                        <small>Total {{'PROJECTS' | translate}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Announcement</h5>
                    </div>

                    <div class="ibox-content inspinia-timeline">

                        <div class="timeline-item" ng-repeat="feed in feeds">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-briefcase"></i>
                                    {{feed.time | date}}
                                    <br/>
                                </div>
                                <div class="col-xs-7 content " ng-class="{'no-top-border':feeds.indexOf(feed)==0}">
                                    <p class="m-b-xs">
                                        <strong>{{feed.title}}</strong>
                                    </p>

                                    <p>{{feed.content}}</p>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>