<!-- Navigation -->
<div ng-include="'views/common/navigation.html'"></div>

<!-- Page wraper -->
<!-- ng-class with current state name give you the ability to extended customization your view -->
<div id="page-wrapper" class="gray-bg {{$state.current.name}}">

    <!-- Page wrapper -->
    <div ng-include="'views/common/topnavbar.html'"></div>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{'DASHBOARD' | translate}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/#/dashboard">{{'HOME' | translate}}</a>
                </li>
                <li class="active">
                    <strong>{{'DASHBOARD' | translate}}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <h4>Discover all users, teams and projects</h4>
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a href="/#/users">
                            <span class="label label-success pull-right">
                                {{'DETAILS' | translate }}
                            </span>
                        </a>
                        <h5>{{'USERS' | translate}}</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">306</h1>

                        <div class="stat-percent font-bold text-success">10 new today
                            <i class="fa fa-bolt"></i>
                        </div>
                        <small>Total {{'USERS' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a href="/#/teams">
                            <span class="label label-info pull-right">{{'DETAILS' | translate }}</span>
                        </a>
                        <h5>{{'TEAMS' | translate}}</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">52</h1>

                        <div class="stat-percent font-bold text-info">5 new today
                            <i class="fa fa-level-up"></i>
                        </div>
                        <small>Total {{'TEAMS' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a href="/#/projects">
                            <span class="label label-primary pull-right">{{'DETAILS' | translate }}</span>
                        </a>
                        <h5>{{'PROJECTS' | translate}}</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">38</h1>

                        <div class="stat-percent font-bold text-navy">3 new today
                            <i class="fa fa-level-up"></i>
                        </div>
                        <small>Total {{'PROJECTS' | translate}}</small>
                    </div>
                </div>
            </div>
        </div>


        <div class="row wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="/#/profile" class="btn btn-white btn-xs pull-right">Edit Profile</a>

                                <h2>{{"L_Status" | translate}}</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>{{"STATUS" | translate}}:</dt>
                                <div ng-controller="dashboardCtrl" ng-switch="User.Status">
                                    <div ng-switch-when="1">
                                        <dd>
                                            <span class="label label-primary">Open</span>
                                        </dd>
                                    </div>
                                    <div ng-switch-when="0">
                                        <dd>
                                            <span class="label label-warning">In a team</span>
                                        </dd>
                                    </div>
                                    <div ng-switch-default>
                                        <dd>
                                            <span class="label label-default">Independent</span>
                                        </dd>
                                    </div>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row" ng-controller="dashboardCtrl">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Area of interests:</dt>
                                <dd ng-repeat="areas in User.Interests">{{areas}}</dd>
                                <br>
                                <dt>Team:</dt>
                                <dd>
                                    <a ng-if="isTeam" href="#/teams">{{User.Team}}</a>
                                    <div ng-if="!isTeam">N/A</div>
                                </dd>
                                <dt>Team Capacity:</dt>
                                <dd>3 / 4</dd>
                                <br>
                                <dt>Project:</dt>
                                <dd>
                                    <a ng-if="isTeam" href="#/projects" class="text-navy"> Capstone Team finder</a>
                                    <div ng-if="!isTeam">N/A</div>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">

                                <dt>Last login:</dt>
                                <dd>09/May 2018 12:15:57</dd>
                                <br>
                                <dt>Recent Visitors:</dt>
                                <dd>
                                    <a href="">
                                        <img alt="image" class="img-circle" ng-src="img/profile14.png">
                                    </a>
                                    <a href="">
                                        <img alt="image" class="img-circle" src="img/profile11.png">
                                    </a>
                                    <a href="">
                                        <img alt="image" class="img-circle" src="img/profile20.png">
                                    </a>
                                    <a href="">
                                        <img alt="image" class="img-circle" src="img/profile4.png">
                                    </a>
                                    <a href="">
                                        <img alt="image" class="img-circle" src="img/profile21.png">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>Completed:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: 80%;" class="progress-bar"></div>
                                    </div>
                                    <small>Process completed in
                                        <strong>80%</strong>. Please finalize the team</small>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel ui-tab">

                                <h2>Community Activities</h2>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Time</th>
                                            <th>Event</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                12.07.2017 10:10:01
                                            </td>
                                            <td>
                                                <a href="/#/users">Jiahuan He</a> created a team called
                                                <a href="/#/teams">CapWebapp</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                15.07.2017 18:12:13
                                            </td>
                                            <td>
                                                Team
                                                <a href="/#/teams">CapWebapp</a> joined a project called
                                                <a href="/#/projects">Capstone Team finder</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                18.07.2017 20:30:15
                                            </td>
                                            <td>
                                                <a href="/#/users">Juntu Chen</a> joined a team called
                                                <a href="/#/teams">CapWebapp</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>