<!-- Navigation -->
<div ng-include="'views/common/navigation.html'"></div>

<!-- Page wraper -->
<!-- ng-class with current state name give you the ability to extended customization your view -->
<div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-controller="users_profileCtrl">

    <!-- Page wrapper -->
    <div ng-include="'views/common/topnavbar.html'"></div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Project list</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <strong>Project list</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">

                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-1">
                                <button type="button" id="loading-example-btn" class="btn btn-white btn-sm">
                                    <i class="fa fa-refresh"></i> Refresh</button>
                            </div>
                            <div class="col-md-11">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="project-list">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th data-toggle="true">Name</th>
                                        <th>Creator</th>
                                        <th>Supervisor</th>
                                        <th>Team limit</th>
                                        <th data-hide="all">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td>
                                            <a ui-sref="users_profile({ profileId: 2 })">Capstone Team finder</a>

                                        </td>
                                        <td>
                                            <a href="">
                                                Khoman Phang
                                            </a>
                                        </td>
                                        <td>
                                            <a href="">
                                                Khoman Phang
                                            </a>
                                            ,
                                            <a href="">
                                                Baochun Li
                                            </a>
                                        </td>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Develop an online system to help students form teams and find projects for ECE496. This is a challenge that students face
                                            every year and is complicated by the fact that two class years are involved and
                                            that so many students are currently on PEY and cannot easily meet in person.
                                            How can we leverage social and professional networking platforms such as Facebook,
                                            and LinkedIn, and how can we leverage and expand our own local systems such as
                                            http://engsciutorontoconnect.ca and the ECE496 registration system, https://ece496v2.ece.toronto.edu,
                                            to more effectively connect our students to each other as well as to our alumni,
                                            faculty, and the greater community? This project is co-supervised by Professors
                                            Khoman Phang and Baochun Li.

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>