<!-- Navigation -->
<div ng-include="'views/common/navigation.html'"></div>

<!-- Page wraper -->
<!-- ng-class with current state name give you the ability to extended customization your view -->
<div id="page-wrapper" class="gray-bg {{$state.current.name}}">

    <!-- Page wrapper -->
    <div ng-include="'views/common/topnavbar.html'"></div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Users</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/#/dashboard">Home</a>
                </li>
                <li class="active">
                    <strong>Users</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight" ng-controller="user_listCtrl">
        <div class="row col-lg-12">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm">
                        <i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <div class="col-md-11">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="input-sm form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-12">&nbsp;</div>
        <div class="row">
            <div class="col-lg-4" ng-repeat="user in users">
                <div class="contact-box">
                    <a ui-sref="user_profile({_id: user._id})">
                        <div class="col-sm-4">
                            <div class="text-center">
                                <img alt="image" class="img-circle m-t-md img-responsive" src="img/profile-default.png">
                            </div>

                            <div class="m-t-md font-bold">{{user.role}}</div>

                        </div>
                        <div class="col-sm-8">
                            <h3>
                                <strong>{{user.first}}</strong>
                                <strong>{{user.last}}</strong>
                                </h2>
                                <div>
                                    <div >
                                        <dd>
                                            <span class="label label-primary">Open</span>
                                        </dd>
                                    </div>
                                </div>
                                <br>
                                <i class="fa fa-map-marker"></i> Last login: May 08/2018 18:09:52
                                <address>
                                    <br>
                                    <strong>Email:</strong> {{user.username}}
                                </address>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>