<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown ng-controller="navBarCtrl">
                    <img alt="image" class="img-circle" ng-src="{{user.avatar}}" />
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{user.first}} {{user.last}}</strong>
                            </span>
                            <span class="text-muted text-xs block">{{user.role}}
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li>
                            <a ui-sref="user_profile({ _id: user._id })">My Profile</a>
                        </li>
                        <li>
                            <a ui-sref="team_profile({ _id: user.team._id })">My Team</a>
                        </li>
                        <li>
                            <a ui-sref="project_profile({_id: user.involve._id })">My Project</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logout()">Log out</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    U of T
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span class="nav-label">{{ 'DASHBOARD' | translate }}</span>
                </a>
            </li>

            <li ng-class="{active: $state.includes('create')}">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    <span class="nav-label">{{ 'CREATE' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('create')}">
                    <li ui-sref-active="active">
                        <a ui-sref="create.team">{{ 'TEAM' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="create.project">{{ 'PROJECT' | translate }}</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="user_list">
                    <i class="fa fa-user"></i>
                    <span class="nav-label">{{ 'USERS' | translate }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="team_list">
                    <i class="fa fa-rocket"></i>
                    <span class="nav-label">{{ 'TEAMS' | translate }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="project_list">
                    <i class="fa fa-flask"></i>
                    <span class="nav-label">{{ 'PROJECTS' | translate }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="search">
                    <i class="fa fa-search"></i>
                    <span class="nav-label">{{ 'SEARCH' | translate }}</span>
                </a>
            </li>
        </ul>

    </div>
</nav>