<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right" ng-controller="navBarCtrl">
            <!--<li>-->
                <!--<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>-->
            <!--</li>-->
            <!-- <li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                        {{ 'LANGUAGE' | translate }}
                </a>
                <ul uib-dropdown-menu class="animated fadeInRight m-t-xs" ng-controller="translateCtrl">
                    <li><a ng-click="changeLanguage('en')">English</a></li>
                    <li><a ng-click="changeLanguage('cn')">中文</a></li>
                </ul>
            </li> -->
            <li>
                <a ng-click="logout()">
                    <i class="fa fa-sign-out"></i> {{ 'LOGOUT' | translate }}
                </a>
            </li>
        </ul>

    </nav>
</div>