<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Join this team</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label style="text-align: center">Enter the password of this team</label>
            <input ng-model="payload.password" type="text" placeholder="Enter the password of this team" class="form-control">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="team_join_cancel()">Cancel</button>
        <button ng-disabled="!payload.password" type="button" class="btn btn-primary" ng-click="team_join_submit()">Join</button>
    </div>
</div>