<!-- Navigation -->
<div ng-include="'views/common/navigation.html'"></div>

<!-- Page wraper -->
<!-- ng-class with current state name give you the ability to extended customization your view -->
<div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-controller="project_listCtrl">

    <!-- Page wrapper -->
    <div ng-include="'views/common/topnavbar.html'"></div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{'PROJECTS' | translate}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">{{'HOME' | translate}}</a>
                </li>
                <li class="active">
                    <strong>{{'PROJECTS' | translate}}</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">

                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row m-b-sm m-t-sm">
                            <div class="col-md-1">
                                <button type="button" id="loading-example-btn" class="btn btn-white btn-sm">
                                    <i class="fa fa-refresh"></i> Refresh</button>
                            </div>
                            <div class="col-md-11">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="input-sm form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="project-list">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th data-toggle="true">Name</th>
                                        <th>Creator</th>
                                        <th>Supervisor</th>
                                        <th>Administrator</th>
                                        <th data-hide="all">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="project in projects" foo-repeat-done>
                                        <td>
                                            <div ng-switch="project.status">
                                                <div ng-switch-when="100">
                                                    <dd>
                                                        <span class="label label-warning">Full</span>
                                                    </dd>
                                                </div>
                                                <div ng-switch-default>
                                                    <dd>
                                                        <span class="label label-primary">Open</span>
                                                    </dd>
                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                            <a ui-sref="project_profile({ _id: project._id })">{{project.name}}</a>

                                        </td>
                                        <td>
                                            <a ui-sref="user_profile({ _id: project.owner._id })">
                                                {{project.owner.first}} {{project.owner.last}}
                                            </a>
                                        </td>
                                        <td>
                                            <span ng-show="project.supervisors.length == 0">N/A</span>
                                            <span ng-repeat="sup in project.supervisors">
                                                <a ui-sref="user_profile({ _id: sup._id })">
                                                    {{sup.first}} {{sup.last}}
                                                </a>
                                                <span ng-show="project.supervisors.indexOf(sup)!=(project.supervisors.length-1)">,</span>
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-hide="project.admin">N/A</span>
                                            <a ui-sref="user_profile({ _id: project.admin._id })">
                                                {{project.admin.first}} {{project.admin.last}}
                                            </a>
                                        </td>
                                        <td>
                                            <p ng-bind-html="project.bio | THTML"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>